@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@1.1.0/dist/web/static/pretendard.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --top-bar-height: 84px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 100 400 700 900;
  font-style: normal;
}

body {
  font-family: 'Pretendard', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

button:focus {
  outline: none;
}

p {
  margin: 0px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type='number'] {
  -moz-appearance: textfield;
}


.top-bar {
  height: var(--top-bar-height);
}

.body-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-grow: 1;
}

.main-container::-webkit-scrollbar {
  width: 10px;
}

.main-container::-webkit-scrollbar-track {
  background: transparent;
}

.main-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.sidebar-wrap:focus {
  outline: none;
}
.sidebar-wrap::-webkit-scrollbar {
  width: 10px;
}

.sidebar-wrap::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-wrap::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.workspace-wrap:focus {
  outline: none;
}

.workspace-wrap::-webkit-scrollbar {
  width: 8px;
  height: 16px;
}
.workspace-wrap::-webkit-scrollbar-track {
  background: transparent;
}
.workspace-wrap::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 16px;
  background-clip: padding-box;
  border: 4px solid transparent;
}

.polotno-workspace {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.bubble {
  position: relative;
}

.bubble::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid black;
}

.text-switch {
  cursor: pointer;
  appearance: none;
  position: relative;
  background-color: #ccc;
  border: max(2px, 0.1em) solid transparent;
  border-radius: 1.25em;
  width: 2.2em;
  height: 1.2em;
  display: flex;
  align-items: center;
}

.text-switch::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: white;
  transition: left .2s linear;
}

.text-switch:checked::before {
  left: 1em;
}

.text-switch:checked {
  background-color: #01be64;
  border-color: #01be64;
}

.text-switch:focus {
  outline: none;
}