.rcp-root {
    --rcp-background-color: #ffffff;
    --rcp-field-input-color: #242424;
    --rep-field-input-background-color: #eeeeee;
    --rcp-field-input-border-color: ##808080;
    --rcp-field-label-color: #242424;
}

.rcp {
    display: flex;
    flex-direction: column;
    background-color: var(--rcp-background-color);
    

}

.rcp-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px
}

.rcp-section {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.rcp-interactive {
    width: 100%;
    height: 100%;
    user-select: none;
    touch-action: none
}

.rcp-saturation {
    cursor: all-scroll;
    width: 100%;
    position: relative;
    background-image: linear-gradient(to bottom, transparent, black), linear-gradient(to right, white, transparent);
}

.rcp-saturation-cursor {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid white;
    border-radius: 100%;
    box-shadow: 0 0 15px #00000026;
    transform: translate(-10px, -10px)
}

.rcp-hue {
    cursor: ew-resize;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    width: 90%;
    height: 10px;
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 255, 0), rgb(0, 255, 0), rgb(0, 255, 255), rgb(0, 0, 255), rgb(255, 0, 255), rgb(255, 0, 0));
    border-radius: 10px
}

.rcp-hue-cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 100%;
    box-shadow: 0 0 15px #00000026;
    transform: translate(-10px, -4px)
}

.rcp-alpha {
    cursor: ew-resize;
    position: relative;
    width: 100%;
    height: 12px;
    border-radius: 10px
}

.rcp-alpha-cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 100%;
    box-shadow: 0 0 15px #00000026;
    transform: translate(-10px, -4px)
}

.rcp-fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0
}

.rcp-fields-floor {
    /* display: grid */
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 0
}

.rcp-field {
    display: flex;
    flex-direction: column;
    width: 100%
}

.rcp-field-input {
    width: 100%;
    font-family: inherit;
    font-size: 14px;
    text-align: center;
    color: var(--rcp-field-input-color);
    background-color: var(--rep-field-input-background-color);
    border: 2px solid var(--rcp-field-input-border-color);
    border-radius: 5px;
    outline: none;
    padding: 5px 0
}

.rcp-field-label {
    display: none;
    font-size: 14px;
    text-align: center;
    color: var(--rcp-field-label-color)
}